.artikler_flex {
    width: 80ch;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.artikler_item {
    width: 35ch;
    background-color: black;
    background-image: linear-gradient(#202020, #000000);
    border: 0;
    box-shadow: 4px 4px 12px 0 black;
    border-radius: 25px;
    margin: 10px;
}

.artikler_item img {
    width: 100%;
    margin: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.artikler_item h4 {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    text-align: center;
    color: white;
    border-top: 2px solid #303030;
    text-shadow: 2px 2px black;
}

.artikler_item_les {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-top: 30px;
}


.artikler_item_les a {
    padding: 15px;
    text-decoration: none;
    color: orange;
    font-weight: 600;
    text-shadow: 1px 1px black;
    background-image: linear-gradient(to right, #202020, #404040, #202020);
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    transition: 1s;
}

.artikler_item_les a:hover {
    border-top: solid 1px orange;
    border-bottom: solid 1px orange;
}

.artikler_item p {
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0px;
    word-spacing: 1px;
    font-size: 0.9rem;
}

.bildetekst {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 6px;
    padding: 0px;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: white;
}

.artikkelbilde {
    display: block;
    margin: auto;
    width: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.artikkel_bilderamme {
    display: block;
    margin: auto;
    background-color: #333;
    width: 600px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 2px black;
}


.link_artikkel {
    text-decoration: none;
    color: #ddd7d7;
    font-size: 10px;
}

.artikkel_overskrift {
    font-size: 55px;
    font-weight: 600;
    text-shadow: 4px 4px black;
    padding-bottom: 30px;
    border-bottom: .1px solid gray;
}

.artikkel_bilde {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 10px 10px 20px 1px black;
}

sup {
    color: #ddd7d7;
}


@media screen and (max-width: 768px) {

    .artikler_flex {
        justify-content: center;
    }

    .artikkel_bilde {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 20px;
    }

    .artikkelbilde {
        display: block;
        margin: auto;
        width: 100%;
        border-radius: 20px;
    }

    .artikkel_bilderamme {
        display: block;
        margin: auto;
        background-color: black;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        border-radius: 20px;
    }

    .bildetekst {

        line-height: 10px;

    }

    sup {
        word-wrap: break-word;
        word-break: break-all;
    }

    .artikkel_overskrift {
        font-size: 36px;
    }

}
