.artikler_flex {
    width: 80ch;
    display: flex;
    flex-wrap: wrap;
}

.artikler_item {
    width: 22.22ch;
    background-color: black;
    border: solid orange 1px;
    border-radius: 15px;
    margin-right: 10px;
}

.artikler_item:hover {
    border: solid white 1px;
}

.artikler_item img {
    width: inherit;
    padding: 15px;
    margin: 0;
    border-radius: 30px;
}

.artikler_item p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: left;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.bildetekst {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 6px;
    padding: 0px;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.artikkelbilde {
    display: block;
    margin: auto;
    width: 600px;
    border-radius: 20px;
}

.artikkel_bilderamme {
    display: block;
    margin: auto;
    background-color: black;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 610px;
    border-radius: 20px;
}

.artikler_item h4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
}

.link_artikkel {
    text-decoration: none;
    color: #ddd7d7;
    font-size: 10px;
}

.artikkel_overskrift {
    font-size: 55px;
    font-weight: 600;
    text-shadow: 2px 2px black;
    padding-bottom: 30px;
    border-bottom: .1px solid gray;
}

.artikkel_bilde {
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

sup {
    color: #ddd7d7;
}


@media screen and (max-width: 768px) {

    .artikler_flex {
        justify-content: center;
    }

    .artikkelbilde {
        display: block;
        margin: auto;
        width: 100%;
        border-radius: 20px;
    }

    .artikkel_bilderamme {
        display: block;
        margin: auto;
        background-color: black;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        border-radius: 20px;
    }

    .bildetekst {

        line-height: 10px;

    }

    sup {
        word-wrap: break-word;
        word-break: break-all;
    }

    .artikkel_overskrift {
        font-size: 36px;
    }

}
