.artikler_flex {
    width: 80ch;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.artikler_item {
    width: 35ch;
    background-color: black;
    background-image: linear-gradient(#000000, #303030);
    border: solid gray .2rem;
    border-radius: 25px;
    margin: 10px;
}

.artikler_item img {
    width: 100%;
    margin: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.artikler_item h4 {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    text-align: center;
    color: white;
    border-top: .2rem solid gray;
    text-shadow: 2px 2px black;
}

.artikler_item_les {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 30px;
}


.artikler_item_les a {
    padding: 10px;
    text-decoration: none;
    background-color: orange;
    color: white;
    text-shadow: 1px 1px black;
}

.artikler_item p {
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: left;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 0.8rem;
}

.bildetekst {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 6px;
    padding: 0px;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.artikkelbilde {
    display: block;
    margin: auto;
    width: 600px;
    border-radius: 20px;
}

.artikkel_bilderamme {
    display: block;
    margin: auto;
    background-color: black;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 610px;
    border-radius: 20px;
}


.link_artikkel {
    text-decoration: none;
    color: #ddd7d7;
    font-size: 10px;
}

.artikkel_overskrift {
    font-size: 55px;
    font-weight: 600;
    text-shadow: 4px 4px black;
    padding-bottom: 30px;
    border-bottom: .1px solid gray;
}

.artikkel_bilde {
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

sup {
    color: #ddd7d7;
}


@media screen and (max-width: 768px) {

    .artikler_flex {
        justify-content: center;
    }

    .artikkel_bilde {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 20px;
    }

    .artikkelbilde {
        display: block;
        margin: auto;
        width: 100%;
        border-radius: 20px;
    }

    .artikkel_bilderamme {
        display: block;
        margin: auto;
        background-color: black;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        border-radius: 20px;
    }

    .bildetekst {

        line-height: 10px;

    }

    sup {
        word-wrap: break-word;
        word-break: break-all;
    }

    .artikkel_overskrift {
        font-size: 36px;
    }

}
