.banner {
    background-color: #232323;
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

.logo {

}


@media screen and (max-width: 768px) {

    .banner {
        padding: 15px;
        justify-content: center;
    }

    .banner img {
        display: none;
    }

    .banner h1 {
        font-size: 30px;
    }
}
