.banner {
    max-width: 80vw;
    margin: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    background-image: url("../bilder/banner31.jpg");
    background-size: cover;
    background-position: center;
}

.banner h1 {
    font-size: 60px;
    font-variant: small-caps;
    font-family:  sans-serif;
    color: white;
    text-shadow: 4px 4px black;
}

#banner_eksp {
    background-image: url("../bilder/banner3.jpg");
    background-position: center;
}

#banner_eksp h1 {
    color: white;
    text-shadow: 8px 4px green, -4px -4px red, -6px 10px yellow;
}


@media screen and (max-width: 768px) {

    .banner {
        padding: 15px;
        justify-content: center;
        border-radius: 0px;
        margin: 0px;
        max-width: 100vw;
        border: 0px;
    }

    .banner img {
        display: none;
    }

    .banner h1 {
        font-size: 40px;
        padding: 10px;
    }
}
