.banner {
    background-color: #232323;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px black;
    background-image: url("../bilder/banner2.jpg");
    background-position: center;
    background-size: cover;
}

.banner h1 {
    font-size: 60px;
    font-variant: small-caps;
    font-family:  sans-serif;
    color: black;
    text-shadow: 2px 2px orange;
}

#banner_eksp {
    background-image: url("../bilder/banner11.jpg");
    border-bottom: solid 2px black;

}

#banner_eksp h1 {
    color: white;
    text-shadow: 8px 4px green, -4px -4px red, -6px 10px yellow;
}


@media screen and (max-width: 768px) {

    .banner {
        padding: 15px;
        justify-content: center;
    }

    .banner img {
        display: none;
    }

    .banner h1 {
        font-size: 40px;
        padding: 10px;
    }
}
