.items {
  margin-top: 200px;
  margin-bottom: 350px;
  transform: translate(-50%, -50%);
  user-select: none;
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
  background: linear-gradient( #333, #111);
  border-radius: 10%;
  border: .1rem solid rgba(7, 9, 11, 0.9);
}


.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 5px 5px 100px 30px;
}

.item.prev {
  z-index: 2;
  opacity: 0.55;
  transform: translate(-80%, -50%);
  width: 500px;
  height: 320px;
}

.item.prev .prosjekter-grid  {
    transform: scale(0.85);
}

.item.next .prosjekter-grid {
    transform: scale(0.85);
}

.item.next {
  z-index: 2;
  opacity: 0.55;
  transform: translate(-20%, -50%);
  width: 500px;
  height: 320px;
}

.items .button-container {
  position: absolute;
  display: none;
  transform: translate(-50%, -50%);
  width: 570px;
  z-index: 100;
  justify-content: space-between;
}

.button-container .button {
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.8;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .fa {
    margin: 0px;
    padding-top: 8px;
    height: 50px;
    width: 50px;
    border-radius: 25%;
    text-align: center;
    background: black;
    color: white;
}

.button-container .button:before {
  content: "";
  position: absolute;
  color: inherit;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}



@media screen and (max-width: 768px) {

    .items .item {
        width: 90vw;
        height: 300px;
    }

    .items p {
      font-size: 16px;
      line-height: 22px;
    }

    .items {
      margin-top: 250px;
      margin-bottom: 200px;
    }

    .item.prev {
        width: 90vw;
        height: 300px;
        transform: translate(-50%, -30%);
    }

    .item.next {
        width: 90vw;
        height: 300px;
        transform: translate(-50%, -70%);
    }


    .item.prev .prosjekter-scale {
        transform: scale(1);
    }

    .item.next .prosjekter-scale {
        transform: scale(1);
    }

    .button-container .button {
      transition: all 0ms ease-in-out;
    }
}
