.footer {
    max-width: 80vw;
    margin: auto;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    border-top: 1px orange solid;
    background-image: linear-gradient(to right,#808080, #101010);
}

.footer p {
    color: black;
    word-spacing: normal;
    font-size: 14px;
}

.boks {
    display: flex;
    padding-right: 50px;
    align-items: center;
}

.boks_innhold {
    margin-right: 20px;
    color: white;
}

.logoer_footer {
    display: flex;
    align-items: center;
}

.footer_logo_img {
    margin-left: 10px;
    margin-right: 10px;
    transition: transform .5s;
}

.footer_logo_img:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 768px) {

    .footer {
        max-width: 100vw;
        margin-top: 80px;
        padding: 10px;
        justify-content: space-between;
    }

    .boks{
        margin: 0;
        padding: 0;
    }

    .boks_innhold {
        margin-right: 10px;
        color: white;
    }

    .logoer_footer {
    }

    .footer_logo_img {
        display: block;
        margin: 5px;
        transition: transform .5s;
    }

    .footer p {
        color: black;
        font-size: 12px;
    }
}
