.header {
    overflow: hidden;
    padding: 20px;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    padding: 0;
    margin: 0;
    border-bottom: solid;
    border-top: solid;
    border-color: #333;
    border-width: 5px;
    border-radius: 8px;
}

.header .headerOverskrift {
    font-size: 40px;
    font-weight: bold;
    float: left;
    font-family: sans-serif;
}


.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: lightblue;
    color: white;
}

.headerBar {
    float: right;

}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .headerBar {
    float: none;
  }
}
