* {
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: rgb(25,27,31);
    overflow-y: scroll;
    font-family: sans-serif, serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

br {
    display: block;
    content: "";
    margin-top: 4vh;
}

.space_br {
    margin-top: 8vh;
}

.mal_innhold {
    max-width: 80vw;
    margin: auto;
    border-bottom: 0px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 56px;
}

h3 {
    line-height: 30px;
}

h4 {
    font-size: 18px
}

h1, h2, h3, h4 {
    color: rgba(255, 255, 255, 0.9);
}

p {
    line-height: 30px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    text-align: justify;
}

.link {
    color: white;
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    text-decoration: none;
}

span {
    color: #ddd7d7;
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}



.sup_br a {
    text-decoration: none;
    background-image: none;
    color: white;
    background-color: inherit;
}



.p_timeline {
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 14px;
    color: #b7aeae;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px) {

    p {
        line-height: 30px;
        letter-spacing: 0px;
        word-spacing: 0px;
        font-weight: 400;
        font-size: 18px;
        text-align: left;
    }

    h2 {
        line-height: 42px;
        margin-bottom: 1vh;
    }

    .mal_innhold {
        max-width: 100%;
        border: 0px;
        margin-bottom: 0px;
    }
}
