* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html {
    height: 100%;
    background-color: #232323;
}

.construction {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 1000px;
}


.mal_innhold {
    max-width: 90ch;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
}

.flex_logoer {
    margin-top: 50px;
    margin-bottom:50px;
    display: flex;
    justify-content: space-between;
}


.logo_pop {
    transition: transform .5s;
    margin-left: 50px;
    margin-right: 50px;
}

.logo_pop:hover {
    transform: scale(1.2);
}


h1 {
    color: 	white;
    font-size: 40px;
}

h2 {
    color: white;
    line-height: 40px;
}

h3 {
    color: white;
    line-height: 30px;
}

h4 {
    color: #778899;
    font-size: 18px
}


p {
    color: #c6bebe;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.p_timeline {
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 14px;
    color: #b7aeae;
    font-family: 'Roboto', sans-serif;
}


@media screen and (max-width: 768px) {

    .mal_innhold {
        max-width: 100%;
        margin: 5px;
        padding: 5px;
    }

    .flex_logoer {
        margin: 0;
        padding: 20px;
        display: flex;
        justify-content: space-between;

    }

    .logo_pop {
        margin: 0;
        padding: 0;
        height: 70px;
        width: auto;
    }

    .construction {
        display: flex;
        justify-content: center;
        margin-top: 150px;
        margin-bottom: 500px;
    }
}
