* {
    font-family: sans-serif;
    margin: 0;
}

html {
    height: 100%;
    background-color: black;
}

.mal_innhold {
    max-width: 80vw;
    background-color: #101010;
    margin: auto;
    border-bottom: 0px;
}

.flex_logoer {
    display: flex;
    justify-content: space-between;
    margin: -50px;
}


.logo_pop {
    transition: transform .5s;
    margin-left: 50px;
    margin-right: 50px;
}

.logo_pop:hover {
    transform: scale(1.2);
}


h1 {
    color: 	white;
    font-size: 40px;
}

h2 {
    color: white;
    line-height: 40px;
    text-shadow: 2px 2px black;
}

h3 {
    color: white;
    line-height: 30px;
}

h4 {
    color: #778899;
    font-size: 18px
}


p {
    color: #ddd7d7;
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}

sup a {
    text-decoration: none;
    color: white;
}

.p_timeline {
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 14px;
    color: #b7aeae;
    font-family: 'Roboto', sans-serif;
}


@media screen and (max-width: 768px) {

    html {
        background-color: #232323;
    }

    .mal_innhold {
        max-width: 100%;
        border: 0px;
        margin-bottom: 0px;
        padding-top: 30px;
    }

    .flex_logoer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;

    }

    .logo_pop {
        margin: 0;
        padding: 0;
        height: 70px;
        width: auto;
    }

    .construction {
        display: flex;
        justify-content: center;
        margin-top: 150px;
        margin-bottom: 500px;
    }
}
