* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html {
    height: 100%;
    background-color: #232323;
}

.footer {
    text-align: center;
    color: #b7aeae;
    margin-top: 1200px;
}

.mal_innhold {
    max-width: 90ch;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
}

.flex_logoer {
    margin-top: 50px;
    margin-bottom:50px;
    display: flex;
    justify-content: center;
}


.logo {
    transition: transform .5s;
    margin-left: 50px;
    margin-right: 50px;
}

.logo:hover {
    transform: scale(1.2);
}


h1 {
    color: 	#778899;
    font-size: 35px;
}

h2 {
    color: #778899;
    line-height: 40px;
}

h3 {
    color: #778899;
    line-height: 30px;
}

p {
    color: #b7aeae;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.p_timeline {
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 14px;
    color: #b7aeae;
    font-family: 'Roboto', sans-serif;
}
