#body_knappen {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

#evil-button {
    color: black;
    border: solid black 2px;
    background-image:linear-gradient(orange,rgb(255,140,0));
    position: absolute;
    white-space: nowrap;
    font-size: 2rem;
    width: 300px;
}




@media screen and (max-width: 768px) {

    .eksp_bakgrunn_peppa {
        display: none !important;
    }
}
