#body_knappen {
    width: 70vw;
    height: 60vh;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#evil-button {
    color: black;
    border: solid black 2px;
    background-image:linear-gradient(orange,rgb(255,140,0));
    position: absolute;
    white-space: nowrap;
    font-size: 2rem;
    width: 300px;
}

#eksp_footer {
    margin-top: 1000px;
}

.eksp_bakgrunn_peppa {
    position: absolute;
    display: flex;
    top: 38px;
    right: 20px;
}
