.navbar {
    font-size: 16px;
    background-color: #2F4F4F;
    padding-top: 4px;
    padding-bottom: 4px;
    background-image:linear-gradient(orange,rgb(255,140,0));
    margin: auto;
}

.main-nav {
    list-style-type: none;
    display: none;
    margin: 0;
    padding: 0;
}

.nav_link {
    text-decoration: none;
    color: #b7aeae;
}

.top_li {
    border-top: solid gray 1px;
    margin-top: 5px;
}

.nav_logo h1 {
    font-size: 20px;
}

.nav_logo {
    display: flex;
}

.main-nav li {
    text-align: center;
    border-bottom: solid gray 1px;
    background-color: black;
}

.main-nav a {
    display: block;
    padding: 10px;
}

.navbar .logo {
    display: flex;
    font-size: 18px;
    margin-left: 20px;
    width: auto;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    display: none;
    align-items: center;
}


.navbar-toggle {
    position: absolute;
    top: parent;
    margin-top: auto;
    margin-top: 5px;
    margin-bottom: auto;
    right: 20px;
    cursor: pointer;
    font-size: 30px;

}

.active {
    display: block;
    margin-bottom: -5px;
    border-bottom: red solid 0px;
}





@media screen and (min-width: 768px) {

    .top_li {
        border-top: solid black 0px;
        margin-top: 0;
    }

    .navbar {
        position: sticky;
        overflow: hidden;
        top: -1px;
        background-color: #2F4F4F;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    .nav_logo, .navbar-toggle {
        display: none;
    }


    .main-nav {
        display: flex;
        margin: 10px;
    }

    .main-nav li {
        margin-right: 25px;
        text-align: center;
        border-bottom: solid black 0px;
        background-color: inherit;
    }

    .main-nav a{
        color: black;
        font-weight: bold;
    }

    .main-nav a:hover {
        color: white;
    }

    #nav_gjeldende {
    }
}
