.navbar {
    font-size: 16px;
    background: rgb(9, 10, 11);
    margin: auto;
}

.nav_logo {
    margin-left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}


.nav_logo_tekst_mobil {
    font-size: 1.4rem;
    color: white;
}


.main-nav {
    list-style-type: none;
    display: none;
    margin: 0;
    padding: 0;
}


.nav_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(7,8,9);
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0px;
}


.top_li {
    border-top: solid gray 1px;
}


.main-nav li {
    text-align: center;
    border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
}

.main-nav a {
    display: block;
    padding: 10px;
}

.navbar .logo {
    display: flex;
    font-size: 18px;
    margin-left: 20px;
    width: auto;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    display: none;
    align-items: center;
}


.navbar-toggle {
    position: absolute;
    top: parent;
    right: 10px;
    cursor: pointer;
}

.active {
    background-color: #252525;
    display: block;
}

.navbar_navn_boks {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding: 0px;
}


.navbar_navn_boks img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 20px;
}

.navbar_navn_boks h5 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-left: 20px;
}

.navbar-toggle .fa {
    height: 30px;
    width: 30px;
    font-size: 25px;
    background: inherit;
    color: rgba(255, 165, 0, 0.7);
    margin: 0;
    padding: 0;
    margin-top: 14px;
}



@media screen and (min-width: 768px) {

    .top_li {
        border-top: solid black 0px;
        margin-top: 0;
    }

    .navbar {
        background: rgb(9, 10, 11);
        position: sticky;
        overflow: hidden;
        top: 0px;
        z-index: 2;
        display: flex;
        justify-content: center;
        height: 60px;
    }

    .nav_bilde {
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }

    .navbar_navn_boks {
        width: 300px;
        height: 40px;
        margin: auto;
        margin-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar_navn_div {
        width: 250px;
        height: 100%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .navbar_navn_boks h5 {
        font-size: 22px;
        margin-left: 5px;
    }

    .navbar_navn_tekst:hover {
        color:white;
    }

    .nav_transition {
        background-image:inherit;
    }

    .nav_logo, .navbar-toggle {
        display: none;
    }

    .main-nav {
        display: flex;
        margin-right: 120px;
        background: inherit;
    }

    .main-nav li {
        margin: auto;
        margin-right: 15px;
        margin-left: 15px;
        text-align: center;
        border-bottom: solid black 0px;
        text-align: center;
    }

    .main-nav a{
        color: rgba(255, 255, 255, 0.8);
        white-space: nowrap;
        font-weight: bold;
        background: inherit;
        transition: 400ms;
    }

    .main-nav a:hover {
        color: white;
    }
}
