.navbar {
    font-size: 16px;
    background-color: #2F4F4F;
    background-color: orange;
    margin: auto;
}

.nav_logo {
    margin-left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-image:linear-gradient(to right, orange,rgb(255,140,0));
}


.nav_logo_tekst_mobil {
    font-size: 1.4rem;
    color: white;
    text-shadow: 1px 1px black;
}


.main-nav {
    list-style-type: none;
    display: none;
    margin: 0;
    padding: 0;
}


.nav_link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 3px;
}


.top_li {
    border-top: solid gray 1px;
}


.main-nav li {
    text-align: center;
    border-bottom: solid gray 1px;
}

.main-nav a {
    display: block;
    padding: 10px;
}

.navbar .logo {
    display: flex;
    font-size: 18px;
    margin-left: 20px;
    width: auto;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    display: none;
    align-items: center;
}


.navbar-toggle {
    position: absolute;
    top: parent;
    right: 10px;
    cursor: pointer;
    font-size: 60px;
}

.active {
    background-color: #252525;
    display: block;
}

.navbar_navn_boks, .navbar_navn_div, .navbar_navn_tekst {
    display: none;
}




@media screen and (min-width: 768px) {

    .top_li {
        border-top: solid black 0px;
        margin-top: 0;
    }

    .navbar {
        background-image:linear-gradient(orange,rgb(255,140,0));
        position: sticky;
        overflow: hidden;
        top: 0px;
        background-color: #2F4F4F;
        z-index: 2;
        display: flex;
        justify-content: center;
        height: 55px;
    }

    .navbar_navn_boks {
        width: 250px;
        height: 40px;
        margin: auto;
        margin-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar_navn_div {
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        border-radius: 20px;
        padding-left: 50px;
        padding-right: 50px;

        background-image:linear-gradient(rgb(255,140,0),orange);
        white-space: nowrap;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar_navn_tekst {
        display: flex;
        margin: auto;
        vertical-align: middle;
        color: white;
        text-shadow: 1px 1px black;
        font-size: 1.3rem;
    }

    .nav_transition {
        background-image:inherit;
    }




    .nav_logo, .navbar-toggle {
        display: none;
    }


    .main-nav {
        display: flex;
        margin-right: 100px;
    }

    .main-nav li {
        margin: auto;
        margin-right: 15px;
        margin-left: 15px;
        text-align: center;
        border-bottom: solid black 0px;
        background-color: inherit;
        text-align: center;
    }

    .main-nav a{
        color: black;
        white-space: nowrap;
        font-weight: bold;
    }

    .main-nav a:hover {
        color: white;

    }

    #nav_gjeldende {
    }
}
