.prosjekter_mal {
    width: 70ch;
    background-color:#181818;
    margin: auto;
    padding: 15px 20px;
    border-radius: 15px;
    border: solid 1px orange;
    margin-bottom: 50px;
}

.prosjekter_mal:hover {
    border: solid 1px gold;
}

#siste_prosjekter_mal {
    margin-bottom: 100px;
}


.prosjekter-grid {
    display: flex;
    justify-content: space-between;
}


.prosjekter-item a {
    text-decoration: none;
}

.prosjekter-item p {
    color: white;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: left;
    text-shadow: 1px 1px black;
}

.prosjekter-item img {
    margin-bottom: -10px;
}

.prosjekter-item .prosjekt-midt-tekst{
    margin-left: 30px;
    margin-right: 30px;
}
