.prosjekter_mal {
    width: 70ch;
    background-color: black;
    padding: 15px 20px;
    border-radius: 20px;
    border: solid 1px orange;
    margin: 10px;
}


#siste_prosjekter_mal {
    margin-bottom: 0px;
}

.prosjekter-grid {
    display: flex;
    justify-content: space-between;
}


.prosjekter-item a {
    text-decoration: none;
}

.prosjekter-item p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: left;
    font-weight: 500;
}


.prosjekter-item img {
    margin-bottom: -10px;
}

.prosjekter-item .prosjekt-midt-tekst{
    margin-left: 20px;
}

@media screen and (max-width: 768px) {

    .prosjekter-item img{
        margin: 10px;
    }



}
