.innhold_startside {
    margin: auto;
    height: 90vh ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.forside_beholder {
    display: block;
    max-width: 960px;
    margin-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    margin: auto;
}

.forside_bildeOgStrek {
    position:relative;
    max-width:960px;
    margin:0 auto;
    overflow:hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.forside_bildeOgStrek:before{
    position:absolute;
    color: orange;
    content:"";
    border-bottom: .1rem solid;
    left:-94px;
    height:110px;
    width:50%;
    top:0;
}

.forside_bildeOgStrek:after{
    position:absolute;
    color: orange;
    content:"";
    border-bottom: .1rem solid;
    right:-94px;
    top:0;
    height:110px;
    width:50%;
}

.forside_bilde {
    border-top-left-radius: 70%;
    border-bottom-right-radius: 70%;
    height: 200px;
    width: 200px;
    margin: auto;
    display: block;
    border: solid orange .1rem;
}

.forside_tittel {
    text-align: right;
    max-width:960px;
    margin: auto;
    font-size: 74px;
    color: rgba(255, 255, 255, 0.4);
    font-variant:small-caps;
    margin: auto;
    font-family: Georgia, serif;
    line-height: 72px;
    text-shadow: 3px 3px black;
}

.forside_tekst_div {
    max-width:960px;
    margin: auto;
}

.forside_tekst {
    text-align: left;
    margin: auto;
    margin: 0px;
    max-width:440px;
    line-height: 48px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Georgia, serif;
    text-shadow: 2px 2px black;
}

.forside_tekst a {
    color: white;
    text-decoration: none;
    background: inherit;
}

mark {
    background-color: inherit;
    color: white;
}


.mark-tittel {
    color: rgba(255, 255, 255, 0.9);
}



@media screen and (max-width: 768px) {

    .forside_beholder {
        padding: 0px;
        margin: auto;
        border: solid red 1px;
    }

    .forside_bildeOgStrek {
        position:relative;
        max-width:100%;
        margin:0 auto;
        overflow:hidden;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .forside_bildeOgStrek:before{
        position:absolute;
        color: orange;
        content:"";
        border-bottom: .1rem solid;
        left:-70px;
        height:85px;
        width:50%;
        top:0;
    }

    .forside_bildeOgStrek:after{
        position:absolute;
        color: orange;
        content:"";
        border-bottom: .1rem solid;
        right:-70px;
        top:0;
        height:85px;
        width:50%;
    }

    .forside_bilde {
        border-top-left-radius: 70%;
        border-bottom-right-radius: 70%;
        height: 150px;
        width: 150px;
        margin: auto;
        display: block;
        border: solid orange .1rem;
    }

    .forside_tittel {
        margin: auto;
        line-height: 2rem;
        font-size: 2rem;
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        margin-right: 0px;
    }

    .forside_tekst {
        width: 50%;
        margin-left: 0px;
        font-size: 18px;
        line-height: 20px;
        margin-top: 0px;
        padding-top: 0px;
        text-align: left;
    }
}
