.innhold_startside {
    margin: auto;
    margin-top: 10vh;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;

}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.forside_tittel {
    text-align: left;
    width: 700px;
    margin: auto;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.4);
    font-variant:small-caps;
    margin: auto;
    margin-top: 25vh;
    margin-bottom: 50px;
    font-family: Georgia, serif;
    line-height: 72px;
    text-align: center;

    text-shadow: 3px 3px black;

}


.forside_tekst {
    border-top: solid rgba(255, 165, 0, 0.1) 1px;
    padding: 50px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    width: 520px;

    line-height: 48px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Georgia, serif;

    text-shadow: 2px 2px black;
}

.forside_tekst a {
    color: orange;
    text-decoration: none;
    background: inherit;
}

mark {
    background-color: inherit;
    color: orange;
}


.mark-tittel {
    color: rgba(255, 255, 255, 0.9);
}





@media screen and (max-width: 768px) {



    .forside_tittel {
        margin: auto;
        line-height: 2rem;
        font-size: 2rem;
        width: auto;
        margin: 20px;
        padding: 0px;
        max-width: 400px;
        margin: auto;
        margin-bottom: 20px;
        padding-left: 10px;
    }

    .forside_tekst {
        width: auto;
        max-width: 350px;
        padding: 0px;
        margin: 20px;
        padding-top: 20px;
        font-size: 16px;
        line-height: 24px;
        margin: auto;
    }

}
