.innhold {
    display: flex;
    justify-content: center;
}

.tekstBoks {
    color: #b7aeae;
    background-color: inherit;
    width: 70ch;
}

.artikkel {
    width: 70ch;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid black 1px;
}

#more {display: none;}
