.innhold {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

.tekstBoks {
    color: #b7aeae;
    background-color: inherit;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 80ch;
}
