.innhold {
    display: flex;
    justify-content: center;
}

.tekstBoks {
    color: #b7aeae;
    background-color: inherit;
    max-width: 70ch;
}

.artikkel {
    max-width: 70ch;
    padding-bottom: 20px;
}

#more {display: none;}
