* {
    box-sizing: border-box;
}


.timeline {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 80ch;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #252525;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    border: 4px solid black;
    background-color: orange;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
    padding-left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
    padding-right: 0;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #252525;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #252525;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #252525;
    border-width: 10px 10px 10px 0;
    border-color: transparent #252525 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 10px;
    padding-bottom: 10px;
    background-color: black;
    position: relative;
    border-radius: 6px;
    background-color: #252525;
}

.content p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    text-align: left;

}





/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    .timeline {
        margin-bottom: 30px;
        margin-top: 30px;
    }
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #1e1d1d;
    border-width: 10px 10px 10px 0;
    border-color: transparent #1e1d1d transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
