.toolBar {
    position: sticky;
    top: -1px;
    background-color: #2F4F4F;
    display: flex;
    justify-content: space-between;
    border-top: solid black 1px;
    z-index: 2;
    padding-left: 40px;
    padding-right: 40px;
}

.toolBar_seksjon {
    background-color: #2F4F4F;
    display: flex;
    align-items: center;
    padding: 10px;
}

.toolBar_item {
    color: 	white;
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
}

.toolBar_item:hover {

    background-color: #2F4A4F;
    border-right: solid black 1px;
    border-left: solid black 1px;
    margin-left: -1px;
    margin-right: 19px;
}
