.toolBar {
    position: sticky;
    top: -1px;
    background-color: #2F4F4F;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    padding-left: 40px;
    padding-right: 40px;
}

.toolBar_seksjon {
    background-color: #2F4F4F;
    display: flex;
    align-items: center;
    padding: 10px;
}

.toolBar_item {
    color: 	white;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
    transition: color .3s;
}

.toolBar_item:hover {
    color: #778899;
}
