.toolBar {
    position: sticky;
    top: -1px;
    background-color: #2F4F4F;
    display: flex;
    justify-content: space-between;
    border-top: solid #778899 1px;
    border-bottom: solid black 1px;
}

.toolBar_seksjon {
    background-color: #2F4F4F;
    display: flex;
    align-items: center;
    padding: 5px;
}

.toolBar_item {
    color: 	#778899;
    text-decoration: none;
    padding: 15px;
}

.toolBar_item:hover {
    background-color: #2E4A4F;
    border-right: solid black 1px;
    border-left: solid black 1px;

}
