.navbar {
    font-size: 18px;
    background-color: #2F4F4F;
    padding: 5px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav_link {
    text-decoration: none;
    color: #b7aeae;
}

.nav_logo h1 {
    font-size: 20px;
}

.nav_logo {
    display: flex;
}

.main-nav li {
    text-align: center;
    padding: 5px;
}

.navbar .logo {
    display: flex;
    font-size: 18px;
    margin-left: 20px;
    width: auto;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    display: none;
    align-items: center;
}


.navbar-toggle {
    position: absolute;
    top: parent;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
}

.active {
    display: block;
    padding: 5px;
}



@media screen and (min-width: 768px) {

    .navbar {
        position: sticky;
        overflow: hidden;
        top: -1px;
        background-color: #2F4F4F;
        z-index: 2;
    }

    .nav_logo, .navbar-toggle {
        display: none;
    }

    .main-nav {
        display: flex;
        margin: 10px;
    }

    .main-nav li {
        margin-right: 25px;
    }

    .main-nav a{
        color: white;
    }

    .main-nav a:hover {
        color: #778899;
    }

    #nav_gjeldende {
        color: #778899;
    }
}
