body {
  background-color: lightblue;
  margin: 0;

}

h2 {
  color: navy;
  margin-left: 20px;
}

p {
    margin-left: 20px;
}

#footer {
    text-align: center;
    margin-left: 20px;
    margin-top: 100px;
}

#hovedHeader {
    background-color: white;
    color: green;
    padding: 40px;
    text-align: center;
    margin-top: 0;
    font-family: verdana;

}
